
/* Background Colors and Fonts */
$dark-grey: #2d3436;
$light-grey: #b2bec3;
$highlight-grey: #dfe6e9;

/* Outlines */
$yellow: #ffeaa7;
$light-pink: #fab1a0;

/* Greater than less than */
$light-blue: #74b9ff; 
$med-blue: #a29bfe;
$dark-blue: #6c5ce7;

/* Win condition */
$red: #d63031;




