$max-width: 800px;


//Padding
$padding-1: .25rem;
$padding-2: .5rem;
$padding-3: .75rem;
$padding-4: 1rem;
$padding-5: 1.5rem;
$padding-6: 2rem;

//Margin
$margin-1: .25rem;
$margin-2: .5rem;
$margin-3: .75rem;
$margin-4: 1rem;
$margin-5: 1.5rem;
$margin-6: 2rem;


//Border
$border-radius: 2px;